# Visual Studio
.vs/
*.user
*.suo

# Build Results
[Bb]in/
[Oo]bj/

# Rider and IntelliJ files
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.pid

# OS files
Thumbs.db
.DS_Store

# Resources
Resources/

#Configuration
AssemblyInfo.cs

#Publications
Properties/
